@import './component/variable.scss';

$var-note-title-part-height: 60px;

/************/

/*** BODY ***/

/************/

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  width: 100%;
  padding: $var-padding;
}

.grid--onload {
  & > * {
    transition-duration: 200ms;
  }
}

.note__container {
  position: relative;
  
  height: $var-note-title-part-height;
  padding-top: 66.6%;
  
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  cursor: pointer;
  
  &:focus, &:hover {
    border-color: var(--color-brand);
    box-shadow: 0 4px 10px -4px var(--color-brand);
  }
}

.note__createContainer {
  position: relative;
  
  height: $var-note-title-part-height;
  padding-top: 66.6%;
  
  background-color: var(--color-container-90);
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

.note__body {
  position: absolute; top: 0;
  display: flex;
	flex-direction: column;
  
  width: 100%; height: 100%;
}

.note__thumbnail {
  flex-grow: 1;
}

.note__create {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: var(--color-white);
}

.note__titlePart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: $var-note-title-part-height;
  padding: 0 16px;
  
  border-top: 1px solid var(--color-border);
  line-height: 1.5;
}

.note__buttonPart {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: $var-note-title-part-height;
  padding: 0 16px 16px 16px;
}

.text__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 100%;
  padding: 6px 0;
  
  font-size: .8rem;
  color: var(--color-white);
  background-color: var(--color-brand);
  border-radius: 6px;
  
  &:focus, &:hover {
    border-color: var(--color-brand);
    box-shadow: 0 4px 10px -4px var(--color-brand);
  }
}

.text__title {
  font-size: 1rem;
}

.text__sub {
  font-size: .7rem;
  color: var(--text-secondary);
}