@import './component/variable.scss';
@import './component/stage.scss';
@import './component/player.scss';
@import './component/dancer.scss';
@import './component/timeline.scss';
@import './component/tool.scss';

.body {
  background-color: var(--color-bg-dark);
}

.header__iconButton {
  display: flex;
  align-items: center; justify-content: center;
  height: 100%;
  aspect-ratio: 1;
}

.icon_back {
  background: no-repeat center url("../assets/icons/Medium(24)/Left.svg");
  background-size: 32px;
}