{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block header %}
<div class="logo logo--small"></div>
<a class="button__text">님</a>
{% endblock %}

{% block sidebar %}
<div class="sidebar_group">
  <div class="sidebar_header"><span>노트 모음</span></div>
  <div tabindex="0" class="sidebar_button">모든 노트</div>
  <div tabindex="0" class="sidebar_button">즐겨찾는 노트</div>
  <div tabindex="0" class="sidebar_button">Lunatic</div>
  <div tabindex="0" class="sidebar_button">Mutivation</div>
</div>
<div class="sidebar_group">
  <div class="sidebar_header"><span>커뮤니티</span></div>
  <div tabindex="0" class="sidebar_button">설명서</div>
  <a tabindex="0" class="sidebar_button" href="https://blog.naver.com/zzompang2/222732715519" target="_blank">방명록</a>
</div>
{% endblock %}

{% block body %}
<div id="note_container" class="grid">

  <div class="note__createContainer">
    <div class="note__body">
      <div class="note__create">
        <div class="logo"></div>
        <div>
          당신의 멋진 무대를 위해.
        </div>
      </div>
      <div class="note__buttonPart">
        <div tabindex="0" id="create_note_btn" class="text__button"><span>노트 만들기</span></div>
      </div>
    </div>
  </div>

</div>

<div id="note_contextMenu" class="dropdown" style="display: none">
  <div class="dropdown__item">
    <div id="delete_button" class="dropdown__item_text">삭제하기</div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="/js/dashboard.js"></script>
{% endblock %}