<!doctype html>
<html>
  <head>
    <title>Choreo Note</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/dashboard.css">
  </head>
  <body>
    <section class="section">
      
    	<header class="header">
        <span class="text">Choreo Note</span>
        <a class="button__text">님</a>
      </header>
      
      <section class="sidebar">
        <div class="sidebar_group">
          <div class="sidebar_header"><span>노트 모음</span></div>
          <div tabindex="0" class="button__textbox">모든 노트</div>
          <div tabindex="0" class="button__textbox">즐겨찾는 노트</div>
          <div tabindex="0" class="button__textbox">공유받은 노트</div>
        </div>
      	<div class="sidebar_group">
          <div class="sidebar_header"><span>커뮤니티</span></div>
          <div tabindex="0" class="button__textbox">설명서</div>
          <div tabindex="0" class="button__textbox">방명록</div>
        </div>
      </section>
      
      <section class="dashboard_body">
        <div class="grid">
          
          <div class="note__createContainer">
            <div class="note__body">
              <div class="note__create">
              	<div class="logo"></div>
                <div>
                  당신의 멋진 무대를 위해.
                </div>
              </div>
              <div class="note__buttonPart">
                <div tabindex="0" class="text__button"><span>노트 만들기</span></div>
              </div>
            </div>
          </div>
          
          <div tabindex="0" class="note__container">
            <div class="note__body">
              <div class="note__thumbnail"></div>
              <div class="note__titlePart">
                <div class="text__title">노트제목</div>
                <div class="text__sub">2022.10.10</div>
              </div>
            </div>
          </div>
          
          <div tabindex="0" class="note__container">
            <div class="note__body">
              <div class="note__thumbnail"></div>
              <div class="note__titlePart">
                <div class="text__title">노트제목</div>
                <div class="text__sub">2022.10.10</div>
              </div>
            </div>
          </div>
          
          <div tabindex="0" class="note__container">
            <div class="note__body">
              <div class="note__thumbnail"></div>
              <div class="note__titlePart">
                <div class="text__title">노트제목</div>
                <div class="text__sub">2022.10.10</div>
              </div>
            </div>
          </div>
          
        </div>
      </section>
      
    </section>
  </body>
  <script src="/js/Constants.js"></script>
</html>
