<!doctype html>
<html>
  <head>
    <title>Choreo Note</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <section class="main_section">
      <section class="banner">
      	<div class="logo"></div>
        <div class="banner__title">당신의 멋진 무대를 위해.</div>
      </section>
      <section class="login_section">
        <div class="login_container">
          <form id="login_form" action="/auth/login" method="post">
            <div class="login__inputContainer">
              <label class="login__label" for="email">이메일</label>
              <input class="login__input" id="email" name="email" type="email" maxlength="40" required autofocus>
            </div>
            <div class="login__inputContainer">
              <label class="login__label" for="password">비밀번호</label>
              <input class="login__input" id="password" name="password" type="password" required autofocus>
            </div>
            <div class="login__buttonContainer">
              <a href="/join" class="login__button">회원가입</a>
              <button type="submit" class="login__button">로그인</button>
          	</div>
          </form>

          <a class="login__snsButton" href="/auth/kakao">
            <img src="/assets/image/kakao_login_large_wide.png" alt="login img" />
          </a>
          <a class="login__snsButton" href="/auth/google">
            <img src="/assets/image/google_login.png" alt="login img" />
          </a>
        </div>
      </section>
    </section>
  </body>
</html>
