<!doctype html>
<html>
  <head>
    <title>Choreo Note</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <section class="main_section">
      <div class="join_container">
        <div class="logo"></div>
        <form id="join_form" action="/auth/join" method="post">
          <div class="login__inputContainer">
            <label class="login__label" for="join_email">이메일</label>
            <input class="login__input" id="join_email" type="email" name="email" maxlength="40" required autofocus>
          </div>
          <div class="login__inputContainer">
            <label class="login__label" for="join_password">비밀번호</label>
            <input class="login__input" id="join_password" type="password" name="password" required>
          </div>
          <div class="login__inputContainer">
            <label class="login__label" for="join_nick">닉네임</label>
            <input class="login__input" id="join_nick" type="text" name="nick" maxlength="10" required>
          </div>
          <div class="login__buttonContainer">
            <button type="submit" class="login__button">가입하기</button>
            <a id="cancel_button" class="login__button" href="/">취소</a>
          </div>
        </form>
      </div>
    </section>
  </body>
  <script>
  	window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
</html>
