{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="/css/note.css">
{% endblock %}

{% block header %}
<div class="logo logo--small"></div>
<div class="header__buttonContainer">
  <div id="save_button" class="header__button">
    저장하기
  </div>
  <div id="save_file_button" class="header__button">
    파일로 저장하기
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar_group">
  <div class="sidebar_header"><span>노트 정보</span></div>
  <label class="sidebar_item">
    <span class="sidebar_label">제목</span>
    <input id="note_title_input" class="sidebar_input" type="text" placeholder="노트 제목">
  </label>
  <label class="sidebar_button">
    <div class="sidebar_label">노래</div>
    <div id="note_music" class="sidebar_input">노래 없음</div>
    <input id="music_input" type="file" style="display: none">
  </label>
</div>
<div class="sidebar_group">
  <div class="sidebar_header"><span>무대 설정</span></div>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="coordinate_btn" checked>격자 보기</label>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="snap_btn">격자에 맞추기</label>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="dancer_name_btn">댄서 이름으로 보기</label>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="rotate_btn">무대 회전</label>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="slope_btn">무대 3D</label>
</div>
<div class="sidebar_group">
  <div class="sidebar_header">
    <span>댄서</span>
    <div id="add_dancer_button" class="sidebar_button__addButton"></div>
  </div>
  <div id="dancer_list">
		<!--   DANCER ITEMS   -->
  </div>
</div>
{% endblock %}

{% block body %}

<!-- STAGE -->
<div id="stage_section" class="stage">
  <div id="stage_wrap" class="stage__wrap">
    <div id="stage_axis" class="stage__axis"></div>
    <div id="stage_dancer" class="stage__dancer"></div>
  </div>
</div>

<div id="player_section" class="player">
  <div id="track" class="player__track">
  	<div id="progress" class="player__progress" style="width: 0; transition-duration: 0s;"></div>
  </div>
  <div id="time_and_btn" class="player__lowerPart">
    <div id="curtime_text" class="player__timeContainer">
      <div class="player__time--large">0:00.</div>
      <div class="player__time--small">000</div>
    </div>
    <div class="flexContainer--row">
      <div id="add_btn" class="icon--medium icon__add">
      </div>
      <div id="play_btn" class="icon--medium icon__play">
      </div>
    </div>
    <div id="duration_text" class="player__timeContainer">
      <div class="player__time--large">0:00.</div>
      <div class="player__time--small">000</div>
    </div>
  </div>
</div>

<!-- TIMELINE -->
<section id="timeline_section" class="timeline">
  <div id="container">
    
    <div id="time_ruler" class="timeline__ruler">
      <div id="time_number" class="timeline__rulerNumber">
        <!-- <div style="width: ??px;"></div> -->
        <!-- <div class="number" id="0" style="width: 40px;">0:00</div> -->
      </div>
      <div id="time_scale" class="timeline__rulerLine">
        <!-- <div style="width: ??px;"></div> -->
        <!-- <div id="0" class="scale_wrap" style="width: 10px;">
          <div class="scale" style="height: 8px;"></div>
        </div> -->
      </div>
    </div>
    
    <div id="formation_box_section" class="formationBoxContainer">
      <!-- <div id="0" class="formationBox" style="width: 80px; left: 60px;">
        <div class="formationBox__body" draggable="true"></div>
        <div draggable="true" class="formationBox__handler formationBox__handler--left"></div>
        <div draggable="true" class="formationBox__handler formationBox__handler--right"></div>
      </div> -->
  	</div>
    
    <div class="divider"></div>
    
    <div id="time_marker" class="timeMarker">
      <div id="line" class="timeMarker__line" draggable="false"></div>
      <div id="handle" class="timeMarker__handle" draggable="true"></div>
    </div>
    
  </div>
  
</section>

<section id="tool_section" class="toolbar">
  <div id="copy_btn" class="toolbar__button">복사하기</div>
  <div id="paste_btn" class="toolbar__button">붙여넣기</div>
  <div id="delete_btn" class="toolbar__button">삭제</div>
</section>

<audio id="audio" preload="metadata">
  <source type="audio/mp3">
</audio>
{% endblock %}

{% block script %}
<script src="/js/note.js" type="module"></script>
{% endblock %}




