{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="/css/note.css">
{% endblock %}

{% block header %}
<div id="save_btn" class="btn_text">
  저장하기
</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar_group">
  <div class="sidebar_header"><span>무대 설정</span></div>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="coordinate_btn">격자 보기</label>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="snap_btn">격자에 맞추기</label>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="dancer_name_btn">댄서 이름으로 보기</label>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="rotate_btn">무대 회전</label>
  <label tabindex="0" class="sidebar_button">
    <input class="checkbox" type="checkbox" id="slope_btn">무대 3D</label>
</div>
<div class="sidebar_group">
  <div class="sidebar_header"><span>댄서</span></div>
  <div tabindex="0" class="sidebar_button">1. 함창수</div>
  <div tabindex="0" class="sidebar_button">2. 쫌팡이</div>
</div>
{% endblock %}

{% block body %}

<!-- STAGE -->
<div id="stage_section" class="stage">
  <div id="stage_wrap" class="stage__wrap">
    <div id="stage_axis" class="stage__axis"></div>
    <div id="stage_dancer" class="stage__dancer"></div>
  </div>
</div>

<!-- TIMELINE -->
<section id="timeline_section">
  <div title="container">
  </div>
  
  <div id="divider"></div>
</section>

<section id="tool_section">
  <div id="copy_btn" class="btn">복사하기</div>
  <div id="paste_btn" class="btn">붙여넣기</div>
  <div id="delete_btn" class="btn">삭제</div>
</section>

<audio id="audio" preload="metadata">
  <source type="audio/mp3">
</audio>
{% endblock %}

{% block script %}
<script src="/js/note.js" type="module"></script>
{% endblock %}




