@font-face { 
  font-family: 'GmarketSansTTFBold'; 
  src: url('/assets/fonts/GmarketSansTTFBold.ttf') 
  format('truetype'); 
}
@font-face { 
  font-family: 'GmarketSansTTFMedium'; 
  src: url('/assets/fonts/GmarketSansTTFMedium.ttf') 
  format('truetype'); 
}
@font-face { 
  font-family: 'GmarketSansTTFLight'; 
  src: url('/assets/fonts/GmarketSansTTFLight.ttf') 
  format('truetype'); 
}

:root {
  --color-bg: #ffffff;
  --color-bg-dark: #151515;
  --color-toolbar: #2e2e2e;
  --color-text: #151515;
  --color-text-secondary: #757370;
  --color-text-neg: #ffffff;
  --color-text-neg-secondary: #a0a0a0;
  --color-border: #e5e5e5;
  --color-container-10: #f5f5f5;
  --color-container-20: #e1e1e1;
  --color-container-90: #1e1e1e;
  --text-secondary: #93918f;
  --color-hover: #f5f5f5;
  --color-shadow: #1515155e;
  
  --color-brand: #D63F72;
  --color-selected: #d7eaff;
  
  --color-white: #ffffff;
  --color-black: #000;
  --color-transparent: #00000000;
  
  --color-grayLight: #dadada;
  --color-grayMiddle: #93918f;
  --color-grayDark: #757370;
	--color-blackLight: #3b3b3b;
	--color-blackMiddle: #1e1e1e;
  --color-blackDark: #151515;
	--color-yellow: #EF9C1C;
	--color-yellowLight: #EF9C1C88;
	--color-red: #D63F72;
	--color-orange: #ff631b;
	--color-orange-side: #c4460d;
  --color-purple: #8249d3;
  --color-purple-side: #4d1f8f;
  --color-blue: #4469EB;
  --color-blue-side: rgb(26, 60, 180);
  --color-green: #00817a;
  --color-green-side: #004d49;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;  // 드래그 선택 방지
  font-family: GmarketSansTTFMedium;
  box-sizing: border-box;
}

html, body {
  position: relative;
  width: 100%; height: 100%;
}

body {
  display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-start;
  background-color: var(--color-bg);
  // overflow-x: hidden;
}

/** input[type=number] 화살표 없애기 **/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

object {
  /* OBJECT 태그, 심지어 감싸는 div의 onclick도 안 되는 문제 해결 */
  pointer-events: none;
}

a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit;        /* 링크의 색상 제거 */
}

input, button, textarea {
  border: none;
}

textarea {
  // resize: none;
}