<!doctype html>
<html>
  <head>
    <title>Choreo Note</title>
    <meta charset="utf-8" name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="코레오노트(Choreo Note)">
    <meta property="og:description" content="당신의 멋진 무대를 위해.">
    <meta property="og:url" content="https://choreonote.run.goorm.io">
    <meta property="og:image" content="https://choreonote.run.goorm.io/assets/image/thumbnail.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="stylesheet" href="/css/layout.css">
    {% block style %}
    {% endblock %}
  </head>
  <body>
      
    <header class="header">
      {% block header %}
    	{% endblock %}
    </header>
    
    <section id="sidebar" class="sidebar">
      {% block sidebar %}
    	{% endblock %}
    </section>
    
    
    <section class="body">
      {% block body %}
    	{% endblock %}
    </section>
      
  </body>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="module" src="/js/layout.js"></script>
  {% block script %}
  {% endblock %}
</html>
